<mat-card>

  <div [formGroup]="form" class="add-field">
    <div mat-dialog-content>
      <h2>Add Fields</h2>
      <mat-form-field>
        <input formControlName="name" ngDefaultControl matInput placeholder="Name">
        <mat-error *ngIf="name?.errors?.['required']">
          name is required

        </mat-error>
        <mat-error *ngIf="name?.errors?.['minlength']">
           name should be at least 3 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-card>

<button mat-raised-button [disabled]="form.invalid" color="primary" (click)="save()">Save</button>
<ng-container *ngIf="edit">
  <button mat-raised-button color="accent" (click)="closeTab()">Close</button>
</ng-container>

